body { 
    font-size: 16px;
    font-family: Oswald, Verdana, Arial, sans-serif;
    color: #211522;
}

#container {
    margin: 50px 100px 0px 100px;
}

h1 {
    background-color: #E6E6FA;
    border: 1px solid #D6A800;
    padding: 10px;
}
h2 {
    background-color: #E6E6FA;
    border: 1px solid #D6A800;
    padding: 10px;
}
h3 {
    background-color: #E6E6FA;
    border: 1px solid #D6A800;
    padding: 10px;
}
h4 {
    background-color: #E6E6FA;
    border: 1px solid #D6A800;
    padding: 10px;
}

a {
    font-weight: bold;
    font-size: 1.25em;
    color: #4F3674;
    text-decoration: none;
}

a:hover {
    color: #D6A800;
    text-decoration: underline;
}

a:visited {
    color: #9A9AEB;
}